<header>
  <h2 mat-dialog-title>{{data.title}}</h2>
</header>

<mat-dialog-content>
  <div fxLayout="row">
    <div fxLayoutAlign="baseline center" fxFlex="20">
      <mat-icon class>{{data.messageType}}</mat-icon>
    </div>
    <div fxLayoutAlign="baseline center" class="content-message content-multi-line" fxFlex="80">{{getMessageContent()}}
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="end center">
  <br>
  <div fxLayout="row">
    <div fxLayoutAlign="start" fxFlex="50">
      <button [mat-dialog-close]="false" *ngIf="!!data.buttonActions.leftButton">
        {{data.buttonActions.leftButton}}
      </button>
    </div>
    <div fxLayoutAlign="end" fxFlex="50" *ngIf="!!data.buttonActions.rightButton">
      <button [mat-dialog-close]="true" cdkFocusInitial>
        {{data.buttonActions.rightButton}}
      </button>
    </div>
  </div>
</mat-dialog-actions>