<div class="background">
  <div class="forgot-password-page">
    <div class="form">
      <h2 class="title">パスワード再発行</h2>
      <hr />
      <form [formGroup]="form" method="post">
        <p *ngIf="isSuccess">パスワード再発行が成功しました。</p>
        <div class="field">
          <input type="text" name="mailAddress" placeholder="メールアドレス" formControlName="mailAddress" maxlength="256" />
          <mat-error>この項目は必須です</mat-error>
        </div>
        <br>
        <button type="submit">再発行</button>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
      </form>
    </div>
  </div>
</div>