.error-summary {
  color: red;
  background-color: rgba(253, 249, 0, 0.37);
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  line-height: 1;
  height: 68px;
  overflow-y: auto;

  p {
    margin-bottom: 3px;
  }

}