.error-summary {
  display: none;
  height: 85px;
  color: red;
  background-color: white;
  border: 1px solid rgb(191, 191, 191);
  margin-bottom: 20px;
  padding: 10px;
  line-height: 1;
  overflow-y: auto;
  box-sizing: border-box;

  &.is-open {
    display: block;
  }

  &__icon {
    vertical-align: middle;
    font-size: 1rem;
    width: fit-content;
    height: fit-content;
    color: red;
    margin-top: -3px;
  }

  &__content {
    margin-bottom: 3px;
  }
}
