mat-icon {
  margin-right: 15px;
}

.sidebar-menu {
  top: 0;
  bottom: 0;
  height: 100%;
  margin-right: 55px;
}

.main-container {
  height: 100%;
  position: absolute;
  display: flex;
}

.mat-expansion-panel-spacing {
  margin: 0 !important;
}

.icon-text {
  display: flex;
  align-items: center;

  span {
    font-size: 18px;
  }
}
