@import "common/variables";

mat-icon {
  margin-right: 15px;
}

mat-nav-list {
  padding-left: 24px;
}

.sidebar-menu {
  top: 0;
  bottom: 0;
  // height: 100%;
  // margin-right: 55px;
  height: calc(100% - $date-time-box-height);
  overflow-y: auto;
  width: $sidenav-width;
}

.main-container {
  height: 100%;
  position: absolute;
  display: flex;
}

.mat-expansion-panel-spacing {
  margin: 0 !important;
}

.icon-text {
  display: flex;
  align-items: center;

  span {
    font-size: 18px;
  }
}

// .mat-elevation-z0 {
//   ::ng-deep .mat-expansion-panel-body {
//     padding: 0 24px;
//   }
// }

/* date time box */
.date-time-box {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: $sidenav-width;
  height: $date-time-box-height;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  P {
    margin: 0;
  }
}

/* system box */
.system-box {
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: $sidenav-width - $scrollbar-width;

  .system-name a {
    text-decoration: none;
    color: inherit;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
  }
}
