<div class="sidebar-menu">
  <div class="system-box">
    <div class="system-name">
      <a href="/">{{ 'header.systemName' | transloco }}</a>
    </div>
  </div>

  <mat-nav-list>
    <kairos-sidebar-main-item [mainIcon]="'home'" [mainText]="'sidebar.mainText.home'" [subMenu]="homeMenu">
    </kairos-sidebar-main-item>
    <kairos-sidebar-main-item [mainIcon]="'build'" [mainText]="'sidebar.mainText.master'" [subMenu]="masterMenu">
    </kairos-sidebar-main-item>
    <kairos-sidebar-main-item [mainIcon]="'person'" [mainText]="'sidebar.mainText.admin'" [subMenu]="adminMenu">
    </kairos-sidebar-main-item>
  </mat-nav-list>
</div>

<div class="date-time-box">
  <p>{{ dateTimeJP | date: 'YYYY/MM/dd' }}</p>
  <p>{{ dateTimeJP | date: 'HH:mm:ss' }}</p>
</div>