<form [formGroup]="form">
  <div fxLayoutAlign="space-between" fxLayout="row wrap" class="row-detail row-detail-small">
    <div [fxFlex]="30" fxLayout="row" class="column-item-other">
      <div class="column-title" fxLayout="column" [fxFlex]="30">AAAAAA</div>
      <div class="column-input" fxLayout="column" [fxFlex]="70">
        <mat-radio-group fxLayoutAlign="space-between">
          <mat-radio-button value="0">Before</mat-radio-button>
          <mat-radio-button value="1">After</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div [fxFlex]="30" fxLayout="row" class="column-item-input">
      <div class="column-title" fxLayout="column" [fxFlex]="30">BBBBBB</div>
      <div class="column-input" fxLayout="column" [fxFlex]="70">
        <mat-form-field appearance="outline" class="input-outline">
          <mat-label>Choose an option</mat-label>
          <mat-select>
            <mat-option value="option1">Option 1</mat-option>
            <mat-option value="option2">Option 2</mat-option>
            <mat-option value="option3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div [fxFlex]="30" fxLayout="row" class="column-item-input">
      <div class="column-title" fxLayout="column" [fxFlex]="30">CCCCCC</div>
      <div class="column-input" fxLayout="column" [fxFlex]="70">
        <mat-form-field appearance="outline" class="input-outline">
          <input matInput type="text" formControlName="CCCCCC">
          <mat-error>この項目は必須です</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div [fxFlex]="30" fxLayout="row" class="column-item-input">
      <div class="column-title" fxLayout="column" [fxFlex]="30">DDDDDD</div>
      <div class="column-input" fxLayout="column" [fxFlex]="70">
        <mat-form-field appearance="outline" class="input-outline">
          <input matInput type="text" formControlName="DDDDDD">
          <mat-error>この項目は必須です</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div [fxFlex]="30" fxLayout="row" class="column-item-input">
      <div class="column-title" fxLayout="column" [fxFlex]="30">EEEEEE</div>
      <div class="column-input" fxLayout="column" [fxFlex]="70">
        <mat-form-field appearance="outline" class="input-outline">
          <input matInput type="text" formControlName="EEEEEE">
          <mat-error>この項目は必須です</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div [fxFlex]="30" fxLayout="row" class="column-item-input">
      <div class="column-title" fxLayout="column" [fxFlex]="30">FFFFFF</div>
      <div class="column-input" fxLayout="column" [fxFlex]="70">
        <mat-form-field appearance="outline" class="input-outline">
          <input matInput type="text" formControlName="FFFFFF">
          <mat-error>この項目は必須です</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div [fxFlex]="30" class="column-item-input">
      <div class="column-title" fxLayout="column" [fxFlex]="30">GGGGGG</div>
      <div class="column-input" fxLayout="column" [fxFlex]="70">
        <mat-form-field appearance="outline" class="input-outline">
          <input matInput type="text" formControlName="GGGGGG">
          <mat-error>この項目は必須です</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div [fxFlex]="30" class="column-item-input">
      <div class="column-title" fxLayout="column" [fxFlex]="30">HHHHHH</div>
      <div class="column-input" fxLayout="column" [fxFlex]="70">
        <mat-form-field appearance="outline" class="input-outline">
          <input matInput type="text" formControlName="HHHHHH">
          <mat-error>この項目は必須です</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div [fxFlex]="30" class="column-item-input">
      <div class="column-title" fxLayout="column" [fxFlex]="30">JJJJJJ</div>
      <div class="column-input" fxLayout="column" [fxFlex]="70">
        <mat-form-field appearance="outline" class="input-outline">
          <input matInput type="text" formControlName="JJJJJJ">
          <mat-error>この項目は必須です</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div [fxFlex]="30" class="column-item-input">
      <div class="column-title" fxLayout="column" [fxFlex]="30">KKKKKK</div>
      <div class="column-input" fxLayout="column" [fxFlex]="70">
        <mat-form-field appearance="outline" class="input-outline">
          <input matInput type="text" formControlName="KKKKKK">
          <mat-error>この項目は必須です</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div [fxFlex]="30" class="column-item-input">
      <div class="column-title" fxLayout="column" [fxFlex]="30">LLLLLL</div>
      <div class="column-input" fxLayout="column" [fxFlex]="70">
        <mat-form-field appearance="outline" class="input-outline">
          <input matInput type="text" formControlName="LLLLLL">
          <mat-error>この項目は必須です</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div [fxFlex]="30" class="column-item-input">
      <div class="column-title" fxLayout="column" [fxFlex]="30">MMMMMM</div>
      <div class="column-input" fxLayout="column" [fxFlex]="70">
        <mat-form-field appearance="outline" class="input-outline">
          <input matInput type="text" formControlName="MMMMMM">
          <mat-error>この項目は必須です</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div [fxFlex]="30" class="column-item-input">
      <div class="column-title" fxLayout="column" [fxFlex]="30">NNNNNN</div>
      <div class="column-input" fxLayout="column" [fxFlex]="70">
        <mat-form-field appearance="outline" class="input-outline">
          <input matInput type="text" formControlName="NNNNNN">
          <mat-error>この項目は必須です</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div [fxFlex]="30" class="column-item-input">
      <div class="column-title" fxLayout="column" [fxFlex]="30">QQQQQQ</div>
      <div class="column-input" fxLayout="column" [fxFlex]="70">
        <mat-form-field appearance="outline" class="input-outline">
          <input matInput type="text" formControlName="QQQQQQ">
          <mat-error>この項目は必須です</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div [fxFlex]="30" class="column-item-input">
      <div class="column-title" fxLayout="column" [fxFlex]="30">WWWWWW</div>
      <div class="column-input" fxLayout="column" [fxFlex]="70">
        <mat-form-field appearance="outline" class="input-outline">
          <input matInput type="text" formControlName="WWWWWW">
          <mat-error>この項目は必須です</mat-error>
        </mat-form-field>
      </div>
    </div>

    <ng-container *ngFor="let item of [].constructor(6)">
      <div [fxFlex]="30" class="column-item-input">
        <div class="column-title" fxLayout="column" [fxFlex]="30">WWWWWW</div>
        <div class="column-input" fxLayout="column" [fxFlex]="70">
          <mat-form-field appearance="outline" class="input-outline">
            <input matInput type="text" formControlName="WWWWWW">
            <mat-error>この項目は必須です</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div [fxFlex]="30" class="column-item-input">
        <div class="column-title" fxLayout="column" [fxFlex]="30">WWWWWW</div>
        <div class="column-input" fxLayout="column" [fxFlex]="70">
          <mat-form-field appearance="outline" class="input-outline">
            <input matInput type="text" formControlName="WWWWWW">
            <mat-error>この項目は必須です</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div [fxFlex]="30" class="column-item-input">
        <div class="column-title" fxLayout="column" [fxFlex]="30">WWWWWW</div>
        <div class="column-input" fxLayout="column" [fxFlex]="70">
          <mat-form-field appearance="outline" class="input-outline">
            <input matInput type="text" formControlName="WWWWWW">
            <mat-error>この項目は必須です</mat-error>
          </mat-form-field>
        </div>
      </div>
    </ng-container>
  </div>
  <br>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayoutAlign="start">
      <button mat-button type="submit" class="btn-main" id="btn-submit">登録</button>
    </div>

    <div fxLayoutAlign="end">
      <button mat-button type="button" class="btn-normal" id="btn-close" (click)="onCancel()">閉じる</button>
    </div>
  </div>
</form>