.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .mat-drawer-content {
    background-color: white;
  }
}

mat-sidenav-content {
  overflow-y: scroll;

  .sidenav-content {
    padding: 0px 30px 0px 40px;
  }
}