<div class="progress-loading" *ngIf="isLoading">
  <mat-spinner diameter="70"></mat-spinner>
</div>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #kairosSideBar mode="side" opened>
    <kairos-sidebar></kairos-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <kairos-header (toggleSidebarEvent)="kairosSideBar.toggle()"></kairos-header>
    <div class="sidenav-content">
      <kairos-error-summary></kairos-error-summary>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>