$main-color : #cce8ff;
$button-primary-color: #cce8ff;

.form-card {
    margin: 15px auto;
  }

.label-header {
    font-weight: bold;
    font-size: 14px;
    padding-top: 10px;
  }

.button-size-modal-bottom{
    min-width: 130px;
    width: calc(800px / 6);
  }
  
.button-primary {
    background-color: $button-primary-color;
}

.table-custom {
    input {
      font-size: 9pt !important;
    }
  
    .mat-cell,
    .mat-header-cell {
      padding-left: 0.5em;
      padding-right: 0.5em;
      font-size: 9pt;
      &:not(:last-child) {
        border-right: 1px solid #bdbdbd;
      }
  
      align-self: stretch;
    }
  
    .mat-footer-cell {
      padding-left: 0.5em;
      padding-right: 0.5em;
      font-size: 9pt;
      &:not(:last-child) {
        border-right: 1px solid #bdbdbd;
      }
      align-self: stretch;
    }
  
    .mat-header-cell {
      align-items: center;
      align-content: center;
      justify-content: center;
      color: #000000;
    }
  
    .mat-footer-cell:first-child {
      align-items: center;
      align-content: center;
      justify-content: center;
    }
  
    .mat-footer-cell:first-child {
      color: #000000;
    }
  
    .mat-header-row {
      min-height: 32px;
    }
  
    .mat-row {
      min-height: 28px;
    }
  
    .mat-footer-row {
      min-height: 28px;
      border-bottom-style: none;
    }
  
    .mat-header-row {
      background-color: $main-color;
    }
    overflow-x: auto;
    display: -ms-grid;
    display: grid;
    width: 100%;
    word-break: break-word;
  }