<!-- <mat-card-title>一覧登録</mat-card-title> -->
<form [formGroup]="formSearch">
  <mat-accordion multi class="expansion-panel-search">
    <mat-expansion-panel [togglePosition]="'before'" expanded=true>
      <mat-expansion-panel-header>
        <mat-panel-title>検索条件</mat-panel-title>
      </mat-expansion-panel-header>
      <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="end">
          <button mat-button type="button" id="btn-clear" (click)="onClear()" class="btn-normal">条件クリア</button>
        </div>
      </div>
      <p></p>
      <div fxLayout="column">
        <div fxLayout="row wrap" class="row-detail-large">
          <div fxLayout="row" [fxFlex]="calcFlex(10)" class="column-item-input">
            <div>仕入先コード：</div>
            <mat-form-field fxFlex="50" appearance="outline" class="input-outline">
              <input matInput type="text" id="txt-factoryCd" formControlName="factoryCd" />
            </mat-form-field>
          </div>
          <div fxLayout="row" [fxFlex]="calcFlex(15)" class="column-item-input">
            <div>仕入先名：</div>
            <mat-form-field fxFlex="80" appearance="outline" class="input-outline">
              <input matInput type="text" id="txt-factoryName" formControlName="factoryName" />
            </mat-form-field>
          </div>
          <div fxLayout="row" [fxFlex]="calcFlex(5)" fxLayoutAlign="end">
            <button mat-button type="button" id="btn-search" (click)="onSearch()" class="btn-primary">検索</button>
          </div>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <p></p>
  <div>
    <mat-table [dataSource]="factoryList.controls" class="table-custom mat-elevation-z2" formArrayName="factoryList">
      <!-- factory id Column -->
      <ng-container matColumnDef="factoryCd">
        <mat-header-cell *matHeaderCellDef [fxFlex]="calcFlex(3)">仕入先CD</mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index;" [fxFlex]="calcFlex(3)" formGroupName="{{i}}">
          <input matInput type="text" id="factoryCd-{{i}}" maxLength="3" formControlName="factoryCd" kairosErrorTooltip
            [ngClass]="{'error-input': row.get('factoryCd').errors}" />
        </mat-cell>
      </ng-container>
      <!-- factory name Column -->
      <ng-container matColumnDef="factoryName">
        <mat-header-cell *matHeaderCellDef>仕入先名</mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index;" formGroupName="{{i}}">
          <input matInput type="text" id="factoryName-{{i}}" maxLength="120" formControlName="factoryName"
            kairosErrorTooltip [ngClass]="{'error-input': row.get('factoryName').errors}" />
        </mat-cell>
      </ng-container>
      <!-- factory deliveryDate Column -->
      <ng-container matColumnDef="deliveryDate">
        <mat-header-cell *matHeaderCellDef [fxFlex]="calcFlex(3)">送付日</mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index;" [fxFlex]="calcFlex(3)" formGroupName="{{i}}">
          <input matInput id="deliveryDate-{{i}}" [matDatepicker]="picker" formControlName="deliveryDate"
            kairosErrorTooltip [ngClass]="{'error-input': row.get('deliveryDate').errors}">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-cell>
      </ng-container>
      <!-- storage location Column -->
      <ng-container matColumnDef="storageLocation">
        <mat-header-cell *matHeaderCellDef [fxFlex]="calcFlex(3)">保管場所</mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index;" [fxFlex]="calcFlex(3)" formGroupName="{{i}}">
          <mat-select id="storageLocation-{{i}}" formControlName="storageLocation" kairosErrorTooltip
            [ngClass]="{'error-input': row.get('storageLocation').errors}">
            <mat-option>None</mat-option>
            <mat-option value="WH1100">WH1100</mat-option>
            <mat-option value="WH1200">WH1200</mat-option>
            <mat-option value="WH1201">WH1201</mat-option>
          </mat-select>
        </mat-cell>
      </ng-container>
      <!-- trash Column -->
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef fxFlex="45px">削除</mat-header-cell>
        <mat-cell *matCellDef="let row ; let i = index" fxLayoutAlign="center" fxFlex="45px" formGroupName="{{i}}">
          <mat-checkbox id="chk-delete-{{i}}" formControlName="delete" class="checkbox-delete"
            *ngIf="!row.value.addRow; else addRow"></mat-checkbox>
          <ng-template #addRow>
            <button mat-button type="button" id="btn-add" (click)="removeRow(i)" class="button-delete" mat-icon-button
              color="accent">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </ng-template>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length" class="no-data remove-background">
          レコードが見つかりません。
        </mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" class="row-highlight"></mat-row>
      <mat-footer-row *matFooterRowDef="['noData']" [hidden]="factoryList.length !== 0"></mat-footer-row>
    </mat-table>
  </div>

  <div fxLayoutAlign="space-between center" class="paginator-row">
    <button mat-icon-button type="button" (click)="addRow()">
      <mat-icon title="行挿入">add_circle_outline</mat-icon>
    </button>
    <mat-paginator class="paginator" [pageSizeOptions]="[10, 20, 30, 100]" showFirstLastButtons></mat-paginator>
  </div>
</form>
<div fxLayout="row wrap">
  <div fxFlex="50">
    <button mat-button type="button" id="btn-update" class="btn-primary" (click)="update()"
      [disabled]="formSearch.get('factoryList')?.pristine || formSearch.get('factoryList')?.invalid">更新</button>
    <div fxFlex="40px"></div>
    <button mat-button type="button" id="btn-download" class="btn-main" routerLink="/">ダウンロード</button>
  </div>
  <div fxFlex="50" fxLayoutAlign="end">
    <button mat-button type="button" id="btn-home" class="btn-normal" (click)="goHome()">ホーム</button>
  </div>
</div>