$button-min-width: 130px;
$button-height: 40px;

.btn-normal,
.btn-normal.mat-button {
  min-width: $button-min-width;
  height: $button-height;
  border: 2px solid rgb(191, 191, 191);
  background-color: white;
}

.btn-main,
.btn-main.mat-button {
  min-width: $button-min-width;
  height: $button-height;
  border: 2px solid #a6c8f1;
  background-color: $main-color;
}

button:not(.mat-icon-button) {

  &:disabled, [disabled] {
    border: 2px solid $disabled-color;
    background-color: $disabled-color;
  }
}
