.expansion-panel { 
  .mat-expansion-panel-body {
    padding: 0px !important;
  }
  
  .mat-expansion-panel:not([class*='mat-elevation-z']) {
    box-shadow: none !important;
  }
  
  .mat-expansion-panel-header {
    height: 27px;
    padding-left: 4px; 
  }

  .mat-expansion-panel-header.mat-expanded {
    height: 27px;
  } 
}
