.paginator-row {
  background-color: white;
  padding-left: 0px;
  padding-right: 8px;

  .material-icons {
    color: rgba($color: #2699fb, $alpha: 0.7);
    font-size: 28px;
    width: fit-content;
    height: fit-content;
  }
}
