@import 'common/variables-color';

.paginator-row {
  background-color: $normal-color;
  padding-left: 0px;
  padding-right: 8px;

  .material-icons {
    color: rgba($color: $primary-color, $alpha: 0.8);
    font-size: 28px;
    width: fit-content;
    height: fit-content;
  }
}
