@import 'common/variables';

/* custom scrollbar */
::-webkit-scrollbar {
  width: $scrollbar-width;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 25px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}

// mat-nav-list {
//   --sidenav-padding-top: 8px;
//   height: calc(100% - var(--sidenav-padding-top) - $date-time-box-height);
//   overflow-y: auto;
//   width: $sidenav-width;
// }
/* custom scrollbar */
