$normal-color: #fff;
$main-color: #cce8ff;
$primary-color: #0071c1;
$disabled-color: #7f7f7f;

/* scrollbar */
$sidenav-width: 300px;

/* date time box */
$date-time-box-height: 50px;

/* scrollbar */
$scrollbar-width: 20px;