<mat-card>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-tab-group id="tabs-detail" mat-align-tabs="left" class="tabs-group-custom">
        <mat-tab label="明細１">
          <div fxLayoutAlign="space-between" fxLayout="row wrap" class="row-detail row-detail-large">
            <div [fxFlex]="45" fxLayout="row" class="column-item-input">
              <div class="column-title" fxLayout="column" [fxFlex]="25">品目コード</div>
              <div class="column-input" fxLayout="column" [fxFlex]="75">
                <mat-form-field appearance="outline" class="input-outline">
                  <input matInput type="text" formControlName="productCd">
                  <mat-error *ngIf="form.controls['productCd'].hasError('required')">この項目は必須です</mat-error>
                  <mat-error *ngIf="form.controls['productCd'].hasError('maxlength')">１２桁以下の文字列を入力して下さい</mat-error>
                  <mat-error *ngIf="form.controls['productCd'].hasError('minlength')">６桁以上の文字列を入力して下さい</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div [fxFlex]="45" fxLayout="row" class="column-item-input">
              <div class="column-title" fxLayout="column" [fxFlex]="25">数量</div>
              <div class="column-input" fxLayout="column" [fxFlex]="75">
                <mat-form-field appearance="outline" class="input-outline">
                  <input matInput type="text" formControlName="quantity">
                  <mat-error *ngIf="form.controls['invoiceNo'].hasError('required')">この項目は必須です</mat-error>
                  <mat-error *ngIf="form.controls['quantity'].hasError('maxlength')">６桁以下の文字列を入力して下さい</mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div fxLayoutAlign="space-between" fxLayout="row wrap" class="row-detail row-detail-large">
            <div [fxFlex]="45" fxLayout="row" class="column-item-input">
              <div class="column-title" fxLayout="column" [fxFlex]="25">保管場所</div>
              <div class="column-input" fxLayout="column" fxFlex>
                <mat-form-field appearance="outline" class="input-outline">
                  <input matInput type="text" formControlName="storageLocation">
                  <mat-error *ngIf="form.controls['storageLocation'].hasError('required')">この項目は必須です</mat-error>
                  <mat-error *ngIf="form.controls['storageLocation'].hasError('maxlength')">６桁以下の文字列を入力して下さい</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div [fxFlex]="45" fxLayout="row" class="column-item-input">
              <div class="column-title" fxLayout="column" [fxFlex]="25">納品書番号</div>
              <div class="column-input" fxLayout="column" fxFlex>
                <mat-form-field appearance="outline" class="input-outline">
                  <input matInput type="text" formControlName="invoiceNo">
                  <mat-error *ngIf="form.controls['invoiceNo'].hasError('required')">この項目は必須です</mat-error>
                  <mat-error *ngIf="form.controls['invoiceNo'].hasError('maxlength')">１１桁以下の文字列を入力して下さい</mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div fxLayoutAlign="space-between" fxLayout="row wrap" class="row-detail row-detail-large">
            <div [fxFlex]="45" fxLayout="row" class="column-item-input">
              <div class="column-title" fxLayout="column" [fxFlex]="25">代替品入荷保管場所</div>
              <div class="column-input" fxLayout="column" fxFlex>
                <mat-form-field appearance="outline" class="input-outline">
                  <input matInput type="text" formControlName="inboundDeliveryStorageLocation">
                  <mat-error *ngIf="form.controls['inboundDeliveryStorageLocation'].hasError('maxlength')">
                    ６桁以下の文字列を入力して下さい</mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="明細２">
          <div fxLayout="column">通信欄</div>
          <div fxLayout="column">
            <mat-form-field appearance="outline">
              <textarea matInput rows="6"></textarea>
            </mat-form-field>
          </div>
        </mat-tab>
      </mat-tab-group>
      <br>
      <div fxLayout="row">
        <div fxLayoutAlign="start">
          <button mat-button type="submit" class="btn-main" id="btn-submit" (click)="onUpdate()"
            [disabled]="errorSystem">更新</button>
        </div>

        <div fxFlex></div>
        <div fxLayoutAlign="end">
          <button mat-button type="button" class="btn-normal" id="btn-close" (click)="onCancel()">閉じる</button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>