@import './common/variables';

header {
  color: white;
  background-color: $main-color;
  h2 {
    margin-block: 0px;
    margin-left: 20px;
    vertical-align: middle;
  }
}

.mat-dialog-content {
  word-break: break-word;
  margin: 0px;
  padding-inline: 10px;
  padding-top: 8px;
  min-height: 72px;

  .content-message {
    min-height: 60px;
  }

  .content-multi-line {
    white-space: pre-wrap;
  }
}

.mat-dialog-actions {
  margin-bottom: 0px;
}

button {
  height: 30px;
  min-width: 90px;
  width: auto;
  border-radius: 4px;
  font-weight: bold;
  margin: 10px 10px;
}

button:disabled,
button[disabled] {
  border: 2px solid $disabled-color;
  background-color: $disabled-color;
}

.btn-normal {
  border: 2px solid rgb(191, 191, 191);
  background-color: white;
}

.btn-main {
  border: 2px solid #c6d9f1;
  background-color: $main-color;
}

.material-icons {
  font-size: 3.4rem;
  width: fit-content;
  height: fit-content;
  color: $main-color;
}
