/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; }

/* font */
@import "~@angular/material/theming";
$font: Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$custom-typography: mat-typography-config(
  $font-family: $font,
  $body-1: mat-typography-level(13px, 24px, 400),
  $caption: mat-typography-level(13px, 24px, 400),
  $button: mat-typography-level(13px, 24px, 400),
);

@include angular-material-typography($custom-typography);