.error-input {
    outline: none;
    border:0.8px solid red !important;
    // padding-right: 1.9px;
    border-radius:2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 2px rgba(255, 0, 0, 0.6);
  }