<mat-card class="form-card">
  <mat-card-title>一覧表示画面</mat-card-title>
  <br />
  <form [formGroup]="formSearch">
    <fieldset class="collapsible">
      <legend onclick="" class='material-icons material-icons-outlined'>arrow_forward_ios</legend>
      <mat-card-content>
        <div fxLayout="column">
          <div fxLayout="row wrap" [fxLayoutGap] ="flexGap">
            <div fxLayout="row"  fxFlex="calcFlex(1/2)">
              <div class="label-header">商品コード</div>
              <input id="txt-productCd" formControlName="productCd">
            </div>
            <div fxLayout="row" fxFlex="calcFlex(1/2)">
              <div class="label-header">商品名</div>
              <input id="txt-productName" formControlName="productName">
            </div>
          </div>
        </div>
        <!-- <div fxLayout="row"> -->
          <!-- <div class="label-header">商品 コード</div> -->
          <!-- <div> -->
            <!-- <input id="txt-productCd" formControlName="productCd"> -->
          <!-- </div>          -->
        <!-- </div> -->
        <!-- <div fxLayout="column">
          <div class="label-header">商品名</div>
          <input id="txt-productName" formControlName="productName">
        </div> -->
      </mat-card-content>
    </fieldset>
    <mat-accordion class="collapsible" multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>検索条件</mat-panel-title>
        </mat-expansion-panel-header>   
        <mat-card-content>
          <div fxLayout="column">
            <div fxLayout="row wrap" [fxLayoutGap] ="flexGap">
              <div fxLayout="row" >
                <div class="label-header">商品コード</div>
              </div>
              <div fxLayout="row"  fxFlex="calcFlex(1/30)">
                <input id="txt-productCd" formControlName="productCd">
              </div>
              <div fxLayout="row">
                <div class="label-header">商品名</div>
              </div>
              <div fxLayout="row" fxFlex="calcFlex(1/30)">
                <input id="txt-productName" formControlName="productName">
              </div>
            </div>
          </div>
        </mat-card-content>
        <!-- <mat-form-field appearance="fill">
          <mat-label>First name</mat-label>
          <input matInput>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
          <mat-label>Age</mat-label>
          <input matInput type="number" min="1">
        </mat-form-field> -->
    
      </mat-expansion-panel>
      </mat-accordion>

  </form>
</mat-card>
