.label-header {
    font-weight: bold;
    font-size: 14px;
    min-height: 1.5em;
  }

.label-display {
    margin-top: 3px;
    font-size: 14px;
    margin-bottom: 24px;
  }
.collapsible {
    border-width: 1px 0 0 0;
    // cursor: pointer;
    // padding-left: 18px;
    // background-position: 4px;
  }

// fieldset.collapsible>legend {
//     cursor: pointer;
//     padding-left: 18px;
//     background-position: 4px;
// }

// .icon-collapsed {
//     background-image: url(../images/arrow_right.png);
// }

// .legend {
//     color: #333;
// }