<form [formGroup]="form" method="post" (submit)="onChangePassword()">
  <p *ngIf="isSuccess">パスワード変更に成功しました。</p>
  <div fxLayoutAlign="space-between" fxLayout="row wrap" class="row-detail-large">
    <div class="column-input">
      <mat-form-field appearance="outline" class="input-outline">
        <input matInput type="password" name="oldPassword" placeholder="現行パスワード" formControlName="oldPassword">
      </mat-form-field>
    </div>
    <div class="column-input">
      <mat-form-field appearance="outline" class="input-outline">
        <input matInput type="password" name="newPassword" placeholder="新しいパスワード" formControlName="newPassword">
      </mat-form-field>
    </div>
    <div class="column-input">
      <mat-form-field appearance="outline" class="input-outline">
        <input matInput type="password" name="confirmNewPassword" placeholder="新しいパスワード（確認）"
          formControlName="confirmNewPassword">
      </mat-form-field>
    </div>
  </div>
  <button mat-button type="submit" class="btn-main" id="btn-submit">変更</button>
</form>